.login {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}
.loginContainer > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.loginContainer > form > h5 {
    margin-bottom: 5px;
}
.loginContainer > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
.loginContainer > p {
    margin-top: 15px;
    font-size: 12px;
}
.loginLogo {
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}
.loginSignInButton {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.loginRegisterButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}

.loginSignInButton,
.loginRegisterButton:hover{
    cursor:pointer;
}